* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .homePage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .homePage header {
  width: 100%;
  height: 10vh;
  display: flex;
  padding: 0 100px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  text-transform: uppercase;
}
.wrap .homePage header nav {
  width: 33%;
  display: flex;
  justify-content: flex-start;
}
.wrap .homePage header nav ul {
  display: flex;
}
.wrap .homePage header nav ul li {
  margin: 0 10px;
}
.wrap .homePage header nav ul li a {
  color: #333;
}
.wrap .homePage header .logo {
  width: 33%;
  display: flex;
  justify-content: center;
  font-weight: 900;
}
.wrap .homePage header .controlls {
  display: flex;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.wrap .homePage header .controlls i {
  margin: 0 10px;
}
.wrap .homePage header .controlls button {
  background-color: transparent;
  border: none;
  margin-right: 10px;
}
.wrap .homePage .homePageContainer {
  width: 100%;
  min-height: 600px;
  background-color: #ff5050;
  display: flex;
  align-items: center;
  padding-left: 100px;
}
.wrap .homePage .homePageContainer .info {
  width: 50%;
  color: #fff;
}
.wrap .homePage .homePageContainer .info h1 {
  width: 30%;
  text-transform: uppercase;
}
.wrap .homePage .homePageContainer .info p {
  width: 80%;
  margin: 50px 0;
}
.wrap .homePage .homePageContainer .info button {
  text-transform: uppercase;
  background-color: #fff;
  padding: 10px 20px;
  border: none;
}
.wrap .homePage .homePageContainer svg {
  height: 600;
  min-width: 1227;
}
.wrap .homePage .homePageContainer2 {
  width: 100%;
  min-height: 600px;
  display: grid;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
}
.wrap .homePage .homePageContainer2 .wat-container {
  min-width: 100%;
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .homePage .homePageContainer2 .wat-container h2 {
  font-size: 30px;
  margin-right: 210px;
}
.wrap .homePage .homePageContainer2 .wat-container .wat-text {
  display: grid;
}
.wrap .homePage .homePageContainer2 .box-container {
  min-width: 1220px;
  height: 550px;
  background-color: #FFF6F6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap .homePage .homePageContainer2 .box-container img {
  margin: 50px;
}
.wrap .homePage .homePageContainer2 .box-container .box-text {
  display: grid;
  align-items: center;
  justify-content: center;
}
.wrap .homePage .homePageContainer2 .box-container .box-text h2 {
  font-size: 35px;
  font-weight: 450;
}
.wrap .homePage .homePageContainer2 .box-container .box-text p {
  margin: 5px;
}
.wrap .homePage .home-page-container3 {
  min-height: 900px;
  width: 100%;
  background-color: #F8F8F8;
  display: grid;
  align-items: center;
  justify-content: center;
}
.wrap .homePage .home-page-container3 h2 {
  width: 450px;
  height: 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-left: 350px;
  margin-top: 100px;
  /* #0D0D0D */
  color: #0D0D0D;
}
.wrap .homePage .home-page-container3 .card-container {
  display: flex;
  justify-content: center;
}
.wrap .homePage .home-page-container3 .card-container .card {
  width: 387px;
  margin-bottom: 150px;
}
.wrap .homePage .home-page-container3 .card-container .card p {
  /* Mauris vestibulum nulla vitae massa lacinia pretium. Aliquam sodales venenatis nunc, et lacinia nunc. */
  position: absolute;
  width: 367px;
  height: 78px;
  margin-left: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  /* #0D0D0D */
  color: #0D0D0D;
  opacity: 0.6;
}
.wrap .homePage .home-page-container4 {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.wrap .homePage .home-page-container4 .img1 {
  position: absolute;
  z-index: 3;
  width: 1220px;
  height: 473px;
  margin-top: 200px;
}
.wrap .homePage .home-page-container4 .text-container {
  margin-top: 10vh;
  width: 1220px;
  z-index: 2;
}
.wrap .homePage .home-page-container4 .text-container h3 {
  /* good for */
  width: 130px;
  height: 18px;
  z-index: 2;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 91%;
  /* or 18px */
  text-align: center;
  text-transform: uppercase;
  /* #FF5050 */
  color: #FF5050;
}
.wrap .homePage .home-page-container4 .text-container h2 {
  width: 359px;
  height: 55px;
  margin: 30px;
  margin-left: 0;
  z-index: 2;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 91%;
  text-align: center;
  text-transform: uppercase;
  /* #0D0D0D */
  color: #0D0D0D;
}
.wrap .homePage .home-page-container4 .text-container p {
  /* Mauris vestibulum nulla vitae massa lacinia pretium. Aliquam sodales venenatis nunc, et lacinia nunc. */
  width: 340px;
  height: 78px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  /* #0D0D0D */
  color: #0D0D0D;
  opacity: 0.6;
  z-index: 2;
}/*# sourceMappingURL=style.css.map */